* {
    font-family: Arial, Helvetica, sans-serif,verdana;
}

#contact h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 300;
}

#contact p{
    text-align: center;
    font-size: 16px;
    /* letter-spacing: 2px; */
    font-weight: 400;
}

.border {
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100px;
    margin-bottom: 55px;
}

/* new navbar & background styling strts here */
#showcase {
    background-image: url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60vh;
}

#showcase .brand-logo img {
    width: 21%;
    margin-left: 5%;
}

#navbar {
    background-color: #856939;
    height: 150px;
}

#showcase .right {
    margin-right: 80px;
    text-decoration: none;
}

#showcase nav {
    box-shadow: 0px 0px 0px 0px !important;
}

nav .fa-bars {
    color: #fff !important;
    font-size: 30px;
    float: right !important;
}

#showcase .sidenav li a {
    text-decoration: none;
    color: white;
}

#showcase .right li a {
    text-decoration: none;
    position: relative !important;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    color: white !important;
    overflow: hidden !important;
    transition: 0.5s all !important;
}

#showcase .right li a:before {
    content: '' !important;
    width: 30px !important;
    position: absolute !important;
    border-bottom: 2px solid white !important;
    bottom: 0 !important;
    right: 350px !important;
    transition: 0.5s all !important;
}

#showcase li a:hover:before {
    right: 0 !important;
}

#showcase nav .sidenav-trigger {
    float: right !important;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#showcase .sidenav {
    background-color: #01062c;
}

#showcase .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: auto !important;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

#showcase .sidenav li:hover {
    background-color: #04437a
}

#showcase .show-text h3 {
    font-size: 40px;
    color: white;
    margin-top: 13%;
    margin-left: 6%;
}

#showcase .show-text h3 span {
    color: #02213c;
    font-size: 45px;
    font-weight: 600;
}

/* new navbar & background styling ends here */

/* form styling */
#contact-form {
    margin-bottom: 20px;
}

#contact-form input {
    margin-bottom: 20px;
    width: 35%;
    border: 1px solid #04437a;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    padding: 5px;
    height: 10%;
}

#contact-form input::placeholder {
    color: black;
}

.phone {
    margin-left: 0;
}

.phone #head {
    font-size: 16px;
    font-weight: 700;   
}

.phone #mail {
    text-decoration: none;
    text-decoration-color: #02213c;
    color: blue;
}

.phone p {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
}

.contact-form label {
    font-size: 18px;

}

#contact-form #button {
    margin-top: 20px;
}

.phone #head {
    color: #02213c;
}

.office {
    margin-top: 20px;
}

.phone a {
    text-align: center!important;
}
.phone a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* @font-face {
    font-family: greatvibes;
    src: url(../font/GreatVibes-Regular.otf)
}
@font-face {
    font-family: alex;
    src: url(../font/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: allura;
    src: url(../font/Allura-Regular.otf);
}

.container h2 {
    font-size: 50px;
    font-family: allura;
    color:#04437a;
    font-weight: 500;
    padding-left: 14px;
} */
.container h4 {
    color:#04437a;
    font-size: 26px;
    font-weight: 500;
    padding-left: 14px;
}

textarea {
    width: 40%;
    border: 1px solid #04437a;
}

label {
    color: #000;
}

.form-move button{
    padding: 7px 20px;
    font-weight: 700;
    border-radius: 7px;
    background-color: #2b2b41;
    border: 1px solid #2b2b41;
    color: #fff;
}

.form-move button:hover {
    background-color: #313157;
    border: 1px solid #313157;
    color: #fff;
}

@media only screen and (max-width: 768px) {

    #showcase {
        background-image: url('../img/contact.jpg');
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: absolute;
        height: 60vh;
        margin-bottom: -100px;
    }
    
    #showcase .brand-logo img {
        width: 110%;
        margin-left: 0;
    }

    #showcase .show-text h2 {
        /* margin-top: 13%;
        margin-left: 6%; */
        text-align: center;
        color: #fff;
        margin-top: 15%;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .container h4 {
        color:#04437a;
        font-size: 26px;
        font-weight: 500;
        padding-left: 14px;
        padding-top: 0%;
        text-align: center;
    }

    textarea {
        width: 40%;
        border: 1px solid #04437a;
    }
    
    label {
        text-align: center;
        color: #000;
    }

    #contact h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 8px;
        font-weight: 300;
    }
    
    #contact p{
        text-align: justify;
        font-size: 14px;
        /* letter-spacing: 2px; */
        font-weight: 400;
    }
    
    .border {
        display: block;
        height: 2px;
        margin: 0 auto;
        margin-bottom: 0px;
        width: 100px;
        margin-bottom: 55px;
    }

    .phone {
        /* margin-left: 0; */
        text-align: center;
    }

    .phone #move {
        text-align: center;
    }
    
    .phone #head {
        font-size: 16px;
        text-align: center;
        font-weight: 700;  
    }
    
    .phone #mail {
        text-align: center;
        text-decoration: none;
        text-decoration-color: #02213c;
        color: blue;
    }

    .phone p {
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        letter-spacing: 2px;
    }

    .form-move {
        text-align: center;
    }
    
    #contact-form #button {
        margin-top: 20px;
    }

}

/* iphone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #showcase {
        background-image: url('../img/contact.jpg');
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: absolute;
        height: 60vh;
        margin-bottom: -100px;
    }
    
    #showcase .brand-logo img {
        width: 105%;
        margin-left: 0;
    }

    #showcase .show-text h2 {
        /* margin-top: 13%;
        margin-left: 6%; */
        text-align: center;
        color: #fff;
        margin-top: 15%;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .show-text a {
        text-align: center;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #02213c;
        border-radius: 10px;
        color: white;
        background-color: #02213c;
    }
    
    .show-text a:hover {
        text-decoration: none;
        background-color: #253442;
        border-color: #253442;
    }
}

/* iphone 6,7,8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #showcase .brand-logo img {
        width: 105%;
        margin-left: 0;
    }
}

/* iphone 6,7,8 plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #showcase .brand-logo img {
        width: 95%;
        margin-left: 0;
    }
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #showcase {
        background-image: url('../img/contact.jpg');
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: absolute;
        height: 50vh;
        margin-bottom: 10px;
    }

    #showcase .brand-logo img {
        width: 50%;
        margin-left: 100px;
}