* {
    font-family: Arial, Helvetica, sans-serif,verdana;
}

/* new navbar & background styling strts here */
/* #showcase {
    background-image: url('../img/stem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:50vh;
} */

#showcase .brand-logo img {
    width: 21%;
    margin-left: 5%;
}

#navbar {
    background-color: #856939;
    height: 150px;
}

#showcase .right {
    margin-right: 80px;
    text-decoration: none;
}

#showcase nav {
    box-shadow: 0px 0px 0px 0px !important;
}

nav .fa-bars {
    color: #fff !important;
    font-size: 30px;
    float: right !important;
}

#showcase .sidenav li a {
    text-decoration: none;
    color: white;
}

#showcase .right li a {
    text-decoration: none;
    position: relative !important;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    color: white !important;
    overflow: hidden !important;
    transition: 0.5s all !important;
}

#showcase .right li a:before {
    content: '' !important;
    width: 30px !important;
    position: absolute !important;
    border-bottom: 2px solid white !important;
    bottom: 0 !important;
    right: 350px !important;
    transition: 0.5s all !important;
}

#showcase li a:hover:before {
    right: 0 !important;
}

#showcase nav .sidenav-trigger {
    float: right !important;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#showcase .sidenav {
    background-color: #01062c;
}

#showcase .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: auto !important;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

#showcase .sidenav li:hover {
    background-color: #04437a;
}

#showcase .show-text h3 {
    font-size: 40px;
    color: #fff;
    margin-top: 13%;
    margin-left: 6%;
}
/* new navbar & background styling ends here */

/* femishola styling starts here */
#femishola {
    margin-top: 10%;
}

#femi {
    text-align: center;
}

#femishola .femi-img img {
    width: 50%;
    text-align: center;
    margin-left: 50%;
    padding-top: 20px;
}


#femishola .femi-text h5 {
    color: #04437a;
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-family: segoe UI;
}


#femishola .femi-text .desctext {
    color:#04437a;
    /* padding-top: 10px; */
    padding-bottom: 30px;
    font-style: italic;
    font-family: segoe UI;
}

#femishola .femi-text p {
    color: #02213c;
    text-align: justify;
}

.back-button a {
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #02213c;
    border-radius: 50px;
    color: white;
    background-color: #02213c;
}

.back-button a:hover {
    text-decoration: none;
    background-color: #253442;
    border-color: #253442;
}

@media only screen and (max-width: 768px) {
    #showcase .brand-logo img {
        width: 110%;
        margin-left: 0;
    }

    #femishola {
        margin-top: 10%;
        text-align: center;
    }
    
    #femi {
        text-align: center;
    }
    
    #femishola .femi-img img {
        width: 50%;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 20px;
    }
    
    
    #femishola .femi-text h5 {
        color: #04437a;
        font-size: 20px;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: segoe UI;
    }
    
    
    #femishola .femi-text .desctext {
        color:#04437a;
        /* padding-top: 10px; */
        padding-bottom: 30px;
        font-style: italic;
        font-family: segoe UI;
    }
    
    #femishola .femi-text p {
        color: #02213c;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .back-button a {
        text-align: center;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #02213c;
        border-radius: 50px;
        color: white;
        background-color: #02213c;
        margin-left: 10px;
    }


}

/* iphnoe x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
    #showcase .brand-logo img {
        width: 105%;
        margin-left: 0;
    }

    #showcase .show-text h2 {
        /* margin-top: 13%;
        margin-left: 6%; */
        text-align: center;
        color: #fff;
        margin-top: 15%;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .show-text a {
        text-align: center;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #02213c;
        border-radius: 10px;
        color: white;
        background-color: #02213c;
    }
    
    .show-text a:hover {
        text-decoration: none;
        background-color: #253442;
        border-color: #253442;
    }
}

    /* iphone 6,7,8 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

  #showcase .brand-logo img {
      width: 105%;
      margin-left: 0;
  }
}

/* iphone 6,7,8 plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #showcase .brand-logo img {
        width: 95%;
        margin-left: 0;
    }
}
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #showcase .brand-logo img {
        width: 50%;
        margin-left: 100px;
    }
}