
* {
    font-family: 'Open Sans', sans-serif;
} 
*{
    font-family: Arial, Helvetica, sans-serif,verdana;
}

.copy {
    color: #02213c;
    font-size: 14px;
    font-family: verdana, sans-serif;
    text-align: center;
    /* padding-bottom: 40px; */
}

.icons {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.icons i {
    font-size: 14px;
}

.icons i {
    color: #444242;
    text-align: center;
    padding: 5px 10px;
    padding-right: 10px;
    border: 1px solid #444242;
    border-radius: 60%;
    margin-right: 10px;
    margin-left: 10px;
}

.icons i:hover {
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s;
    cursor: pointer;
} 

/* footer section styling */
#footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(226, 226, 226);
}

.footer {
    margin-bottom: 5px;
}

#footer p {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    #footer p {
        font-size: 12px;
    }

    #footer {
        padding-top: 20px;
        padding-bottom: 5px;
        background-color: rgb(226, 226, 226);
    }

    .icons a:hover {
        color: #979797;
        border: 1px solid #fff;
        transition: 0.5s;
        cursor: pointer;
    } 

}

@media only screen and (min-width: 568px) and (max-width: 1024px) {
    #footer {
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .footer {
        margin-bottom: 40px;
    }
    #footer p {
        font-size: 14px;
    }
}

