* {
    font-family: Arial, Helvetica, sans-serif,verdana;
}

/* new navbar & background styling strts here */
/* #showcase {
    background-image: url('../img/stem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:50vh;
} */

#showcase .brand-logo img {
    width: 21%;
    margin-left: 5%;
}

#navbar {
    background-color: #856939;
    height: 150px;
}

#showcase .right {
    margin-right: 80px;
    text-decoration: none;
}

#showcase nav {
    box-shadow: 0px 0px 0px 0px !important;
}

nav .fa-bars {
    color: #fff !important;
    font-size: 30px;
    float: right !important;
}

#showcase .sidenav li a {
    text-decoration: none;
    color: white;
}

#showcase .right li a {
    text-decoration: none;
    position: relative !important;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    color: white !important;
    overflow: hidden !important;
    transition: 0.5s all !important;
}

#showcase .right li a:before {
    content: '' !important;
    width: 30px !important;
    position: absolute !important;
    border-bottom: 2px solid white !important;
    bottom: 0 !important;
    right: 350px !important;
    transition: 0.5s all !important;
}

#showcase li a:hover:before {
    right: 0 !important;
}

#showcase nav .sidenav-trigger {
    float: right !important;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#showcase .sidenav {
    background-color: #01062c;
}

#showcase .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: auto !important;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

#showcase .sidenav li:hover {
    background-color: #04437a;
}

#showcase .show-text h3 {
    font-size: 40px;
    color: white;
    margin-top: 13%;
    margin-left: 6%;
}

#showcase .show-text h3 span {
    color: #02213c;
    font-size: 45px;
    font-weight: 600;
}
/* navbar styling ends here */

/* slideshow styling starts here */
#slideshow {
width: 100%;
height: 65vh;
background-image: url('../img/teach.jpeg');
background-repeat: no-repeat;
background-size: 100%;
background-position: absolute center;
backface-visibility: hidden;
animation: slideBg 8s linear infinite 0s;
animation-timing-function: ease-in-out;
}

@keyframes slideBg {
    0% {
        background-image: url('../img/Grad.jpg');
    }
    25% {
        background-image: url('../img/learn.jpeg');
    }
    50% {
        background-image: url('../img/library.jpeg');
    }
    75% {
        background-image: url('../img/math.png');
    }
    100% {
        background-image: url('../img/teach.jpeg');
    }
}

/* slideshow styling ends here */

/* our services styling starts here */
#work {
    color: white;
    background-color: #02213c;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}

/* @font-face {
    font-family: greatvibes;
    src: url(../font/GreatVibes-Regular.otf)
}
@font-face {
    font-family: alex;
    src: url(../font/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: allura;
    src: url(../font/Allura-Regular.otf);
}

#work h1 {
    font-size: 50px;
    font-family: allura;
    margin-bottom: 20px;
} */


#work h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

#work p{
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

#work li {
    list-style-type: disc;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
/* our services styling ends here */

/* services styling starts here */
.services-list {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* .service h2 {
    color: #04437a;
} */

.service {
    text-align: center;
    color: #02213c;
    margin-top: 10%;
}

.service p{
    text-align: justify;
}

.service-card {
    margin-top: auto;
    margin-bottom: auto;
}

.service-card h2 {
    text-align: justify;
    color: #04437a;
}

.service img {
    width: 80%;
    height: 24rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14%;
}

.res-text {
    padding: 5% 20px;
}

.res-img {
    margin-top: 20px;
    padding: 10px;
}

.statue {
    width: 90%;
}

/* .res-img img {
    width: 80%;
    padding: 0px 30px;
} */
/* services styling ends here */

/* carousel styling */
.carousels {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.carousel-inner .item img {
    width: 55vw;
    height: 400px;
}

#myCarousel {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 55vw;
    height: 400px;
    text-align: center!important;
    margin-left: auto;
    margin-right: auto;
}

.carousels h2 {
    color: #04437a;
}

.carousels li {
    list-style-type: disc;
    display: list-item inline;
    list-style-type: disc;
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
}

.carousels p {
    margin-bottom: 10px;
}