* {
    font-family: Arial, Helvetica, sans-serif,verdana;
}

/* new navbar & background styling strts here */
#showcase {
    background-image: url('../img/fead-team2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    height: 70vh;
}

#showcase .brand-logo img {
    width: 21%;
    margin-left: 5%;
}

#navbar {
    background-color: #856939;
    height: 150px;
}

#showcase .right {
    margin-right: 80px;
    text-decoration: none;
}

#showcase nav {
    box-shadow: 0px 0px 0px 0px !important;
}

nav .fa-bars {
    color: #fff !important;
    font-size: 30px;
    float: right !important;
}

#showcase .sidenav li a {
    text-decoration: none;
    color: white;
}

#showcase .right li a {
    text-decoration: none;
    position: relative !important;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    color: white !important;
    overflow: hidden !important;
    transition: 0.5s all !important;
}

#showcase .right li a:before {
    content: '' !important;
    width: 30px !important;
    position: absolute !important;
    border-bottom: 2px solid white !important;
    bottom: 0 !important;
    right: 350px !important;
    transition: 0.5s all !important;
}

#showcase li a:hover:before {
    right: 0 !important;
}

#showcase nav .sidenav-trigger {
    float: right !important;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#showcase .sidenav {
    background-color: #01062c;
}

#showcase .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: auto !important;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

#showcase .sidenav li:hover {
    background-color: #04437a;
}

#showcase .show-text h3 {
    font-size: 40px;
    color: white;
    margin-top: 13%;
    margin-left: 6%;
}

#showcase .show-text h3 span {
    color: #02213c;
    font-size: 45px;
    font-weight: 600;
}

/* new navbar & background styling ends here */

/* our team styling */
#work {
    color: white;
    background-color: #02213c;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}

#work h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

#work p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
/* our team styling ends */

/* team card styling starts here */

.card {
    width: 80%;
    height: 18rem;
    text-align: center;
    margin-top: 50px;
}

.cards p {
    padding-bottom: 50px;
    /* padding-top: 10px; */
    color: #012749;
    font-weight: 400;
    font-style: italic;
    font-family: segoe UI;
}

.cards h5 {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #02213c;
    margin-bottom: 10px;
}

.cards a:hover {
    cursor: pointer;
    text-decoration: none;
}

#team .team-text {
    text-align: center;
    padding-top: 20px;
}

#team .team-text h5 {
    letter-spacing: 2px;
    color: #02213c;
    font-size: 30px;
}

.team-image  img {
text-align: center!important;
margin-top: 20%;
width: 60%;
margin-left: auto;
margin-right: auto;
}

#team {
    text-align: center;
}
/* team card styling ends here */

@media only screen and (max-width: 768px) {

    #showcase {
        background-image: url('../img/fead-team2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        height: 60vh;
        margin-bottom: -130px;
    }
    
    #showcase .brand-logo img {
        width: 110%;
        margin-left: 0;
    }

    #work {
        color: white;
        background-color: #02213c;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 30px;
    }
    
    #work h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #work p {
        text-align: justify;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }

    .cards p {
        padding-bottom: 0px;
        /* padding-top: 10px; */
        color: #012749;
        font-weight: 400;
        font-style: italic;
        font-family: segoe UI;
    }
    
    .cards h5 {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #02213c;
        margin-bottom: 10px;
    }

}

/* iphone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #showcase {
        background-image: url('../img/fead-team2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        height: 60vh;
        margin-bottom: -150px;
    }
    
    #showcase .brand-logo img {
        width: 105%;
        margin-left: 0;
    }

    #showcase .show-text h2 {
        /* margin-top: 13%;
        margin-left: 6%; */
        text-align: center;
        color: #fff;
        margin-top: 15%;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .show-text a {
        text-align: center;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #02213c;
        border-radius: 10px;
        color: white;
        background-color: #02213c;
    }
    
    .show-text a:hover {
        text-decoration: none;
        background-color: #253442;
        border-color: #253442;
    }
}

/* iphone 6,7,8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #showcase .brand-logo img {
        width: 105%;
        margin-left: 0;
    }
}

/* iphone 6,7,8 plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #showcase .brand-logo img {
        width: 95%;
        margin-left: 0;
    }
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {


    #showcase .brand-logo img {
        width: 50%;
        margin-left: 100px;
    }
}