*{margin: 0; padding: 0;}



body		{background-color:#CCC;}
#wrapper        {width:900px; margin:0 auto; padding:30px; background-color: powderblue;}
#name		{width:400px; float:left; margin:0 0 60px 0;}
#name h1	{font-family:arial}
#topnav    	{width:380px; float:right; margin:30px 0 0 0;}
#topnav ul      {text-align:right;}
#topnav ul li   {display:inline; margin:0 0 30px 10px;}
#topnav a       {font-size:22px; text-decoration:none; font-weight:bold;}
#topnav a:link  {color: blue;}
#topnav a:hover {color:#777;}
#line           {clear:both; border:0; background-color:#CCC; height: 2px;}
#content1 h2    {font-size:30px; margin:0 0 10px 0;}
#content1       {width:600px; float:left; margin:30px 0 50px 0; text-align: left;}
#content2 h3    {margin:40px 0 10px 0;}
#rightside      {width:280px; float:right; margin:90px 0 40px 0;}
#content2       {clear:both;}
#footer		{clear:both;}	

